dotfiles_old/
lazy-lock.json
# Ignore everything under Vivaldi except whitelisted files
vivaldi/.config/vivaldi/**
!vivaldi/.config/vivaldi/Local State
!vivaldi/.config/vivaldi/Default/
!vivaldi/.config/vivaldi/Default/Bookmarks
!vivaldi/.config/vivaldi/Default/Preferences
!vivaldi/.config/vivaldi/Default/Secure Preferences
!vivaldi/.config/vivaldi/Default/Custom Dictionary.txt
!vivaldi/.config/vivaldi/Default/Shortcuts

# Ignore everything in yazi config by default
yazi/.config/yazi/**

# --- Keep only core configs ---
!yazi/.config/yazi/yazi.toml
!yazi/.config/yazi/theme.toml
!yazi/.config/yazi/keymap.toml
!yazi/.config/yazi/init.lua
!yazi/.config/yazi/package.toml
!yazi/.config/yazi/bookmark

# --- Plugins/themes management ---
# Track package.toml to reproduce plugins, but ignore installed code
yazi/.config/yazi/plugins/*
yazi/.config/yazi/flavors/*

# build crap
src/dwm/*.o
src/dwm/*.obj
src/dwm/dwm
src/dwmblocks/dwmblocks

# patch leftovers
*.orig
*.rej

lazy-lock.json
