
# General Chromium/Vivaldi junk
Default/Cache/
Default/Code Cache/
Default/GPUCache/
Default/Service Worker/
Default/Session Storage/
Default/Storage/
Default/WebStorage/
Default/IndexedDB/
Default/QuotaManager*
Default/Top Sites*
Default/History*
Default/Favicons*
Default/Network Action Predictor*
Default/Visited Links
Default/TransportSecurity
Default/TranslateRankerModel
Default/WebrtcVideoStats/
Default/Commerce*
# General Chromium/Vivaldi junk
Default/Cache/
Default/Code Cache/
Default/GPUCache/
Default/Service Worker/
Default/Session Storage/
Default/Storage/
Default/WebStorage/
Default/IndexedDB/
Default/QuotaManager*
Default/Top Sites*
Default/History*
Default/Favicons*
Default/Network Action Predictor*
Default/Visited Links
Default/TransportSecurity
Default/TranslateRankerModel
Default/WebrtcVideoStats/
Default/Commerce*

# Logs, journals, lockfiles
**/*.log
**/*.ldb
**/*.sqlite*
**/*-journal
**/LOCK
**/LOG*
**/MANIFEST-*

# Logs, journals, lockfiles
**/*.log
**/*.ldb
**/*.sqlite*
**/*-journal
**/LOCK
**/LOG*
**/MANIFEST-*
